{% extends "base.html" %}
{% block content %}
<form method="post" action="/generate-diet">

    Age: <label><input name="age"><br>
    Gender: <input name="gender"><br>
    Height (cm): <input name="height_cm"><br>
    Weight (kg): <input name="weight_kg"><br></label>

    Activity:
    <select-name="activity_level">
        {% for a in activities %}
        <option value="{{a}}">{{a}}</option>
        {% endfor %}
    </select><br>

    Goal:
    <select-name="goal">
        {% for g in goals %}
        <option value="{{g}}">{{g}}</option>
        {% endfor %}
    </select><br>

    Preference:
    <select-name="preferences">
        {% for p in preferences %}
        <option value="{{p}}">{{p}}</option>
        {% endfor %}
    </select><br>

    Restriction:
    <select-name="restrictions">
        {% for r in restrictions %}
        <option value="{{r}}">{{r}}</option>
        {% endfor %}
    </select><br>

    <button type="submit">Generate Daily Plan</button>
</form>
{% endblock %}