{% extends "base.html" %}
{% block content %}

<h3>Generate Daily Diet</h3>

<form method="post">
    <label>
    <input name="age" placeholder="Age">
    <input name="height_cm" placeholder="Height">
    <input name="weight_kg" placeholder="Weight">
    <input name="activity_level" placeholder="Activity">
    <input name="goal" placeholder="Goal">
    <input name="preferences" placeholder="Preferences">
    <input name="restrictions" placeholder="Restrictions">
    <button type="button", class="btn btn-primary">Generate
    </button>
    </label>
</form>

{% if result %}
<pre>{{ result }}</pre>
{% endif %}

{% endblock %}